.add-post {
  width: 320px;
  margin: 0 auto;
}

.add-post__slogan {
  margin: 0;
  padding: 25px 20px 40px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .add-post {
    width: 660px;;
  }

  .add-post__slogan {
    font-size: 18px;
    padding: 45px 20px 66px;
  }
}

@media (min-width: @desktop-width) {
  .add-post {
    width: 940px;
    margin-bottom: 25px;
  }

  .add-post__slogan {
    font-size: 18px;
    padding-top: 5px;
  }
}
