.advantages {
  padding: 30px 30px 10px;
  text-align: center;
  background-image: url("../img/shape.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  &__slogan {
    .main-slogan();
  }

  &__list {
    padding: 40px 0 10px;
  }

  &__caption {
    color: @black;
    font-size: 18px;
    font-weight: 700;
  }
}
