.button {
  width: 235px;
  display: block;
  padding: 14px 20px 17px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid;
  border-radius: 50px;
  cursor: pointer;

  &--download {
    color: @white;
    border-color: @white;
  }

  &--post {
    width: 280px;
    margin-bottom: 12px;
    color: @pink;
    border-color: @pink;
    background-color: transparent;
  }

  &--reset {
    width: 280px;
    opacity: 0.1;
    background-color: transparent;
  }
}

.button--download:hover,
.button--download:focus {
  color: @pink;
  background-color: @white;
}

.button--download:active {
  color: fade(@pink, 30%);
}

.button--post:hover,
.button--post:focus {
  color: @white;
  background-color: @pink;
}

.button--post:active {
  color: fade(@white, 30%);
}

.button--reset:hover,
.button--reset:focus {
  opacity: 0.2;
}

.button--reset:active {
  color: fade(@white, 30%);
  background-color: @black;
  border-color: black;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .button {
    width: 254px;

    &--post {
      width: 260px;
      margin-bottom: 25px;
    }

    &--reset {
      width: 260px;
    }
  }
}

@media (min-width: @desktop-width) {
  .button {
    font-size: 21px;
  }

  .button--post,
  .button--reset {
    width: 183px;
    margin: 0;
  }
}
