.button {
  display: block;
  width: 235px;
  padding: 15.5px 20px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid;
  border-radius: 50px;

  &--download {
    color: @white;
    border-color: @white;
  }

  &--post {
    margin-bottom: 12px;
    color: @pink;
    border-color: @pink;
    background-color: transparent;
  }

  &--reset {
    opacity: 0.1;
    background-color: transparent;
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 254px;
  }
}

@media (min-width: @desktop-width) {
  .button--post,
  .button--reset {
    width: 183px;
    margin: 0;
  }
}
