.button {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid;
  border-radius: 50px;

  &--download {
    color: @white;
    border-color: @white;
  }

  &--post {
    margin-bottom: 12px;
    color: @pink;
    border-color: @pink;
    background-color: transparent;
  }

  &--reset {
    opacity: 0.1;
    background-color: transparent;
  }
}
