.comment {
  margin: 0 20px 20px;
  padding: 23px 17px;
  background-color: @light-gray;

  &__time {
    font-size: 12px;
    font-weight: 300;
  }

  &__like {
    color: @pink;
    font-size: 12px;
    text-transform: uppercase;
  }
}
