.contacts {
  text-align: center;
}

.contacts__call {
  margin: 0;
  padding: 40px 20px 20px;
  line-height: 30px;
  .main-slogan();
}

.contacts__list {
  margin: 0;
}

.contacts__item {
  padding: 10px 20px;
}

.contacts__caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__description {
  margin: 0;
  color: @pink;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.contacts__description > a {
  color: @pink;
}
