.contacts {
  text-align: center;
  padding-top: 40px;
}

.contacts__call {
  margin: 0;
  margin-bottom: 22px;
  line-height: 30px;
  .main-slogan();
}

.contacts__list {
  display: flex;
  margin: 0 auto;
  padding-bottom: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contacts__item {
  width: 225px;
  padding: 11px 20px;
}

.contacts__caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__description {
  margin: 0;
  color: @pink;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.contacts__description > a {
  color: @pink;
}

.contacts__description:hover > a,
.contacts__description:focus > a {
  color: @base-color;
  text-decoration: underline;
}

.contacts__description:active > a {
  opacity: 0.3;
  text-decoration: none;
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 199px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.contacts__map-shape {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  top: -46px;
  z-index: 3001;
}

.contacts__map-shape svg {
  width: 1200px;
  height: 123px;
}

.contacts__map iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 199px;
  top: 0;
  border: none;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 45px;
  }

  .contacts__call {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__list {
    min-height: 190px;
    padding: 20px 0 30px;
    align-content: space-between;
  }

  .contacts__item {
    padding: 0;
  }

  .contacts__map {
    height: 374px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 660px auto;
    }
  }

  .contacts__map-shape {
    top: -30px;
  }

  .contacts__map iframe {
    height: 374px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 65px;
  }

  .contacts__call {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__list {
    width: 940px;
    min-height: 100px;
    padding: 32px 0 20px;
    justify-content: center;
    align-items: baseline;
  }

  .contacts__item {
    width: 240px;
    margin-right: 80px;
  }

  .contacts__item:nth-of-type(2) {
    margin: 0;
    vertical-align: middle;
    order: 2;
  }

  .contacts__description {
    margin-top: 20px;
  }

  .contacts__map {
    height: 502px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-size: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .contacts__map-shape {
    top: -15px;

    @media (min-resolution: 1200px) {
      top: 0;
    }
  }

  .contacts__map-shape svg {
    width: 100%;
  }

  .contacts__map iframe {
    height: 502px;
  }
}
