.contacts {
  text-align: center;
  padding-top: 40px;
}

.contacts__call {
  margin: 0;
  margin-bottom: 22px;
  line-height: 30px;
  .main-slogan();
}

.contacts__list {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contacts__item {
  width: 225px;
  padding: 11px 20px;
}

.contacts__caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__description {
  margin: 0;
  color: @pink;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.contacts__description > a {
  color: @pink;
}

.contacts__map {
  background-color: @gray;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 45px;
  }

  .contacts__call {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__list {
    min-height: 190px;
    padding: 20px 0;
    align-content: space-between;
  }

  .contacts__item {
    padding: 0;
    width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 62px;
  }

  .contacts__call {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__list {
    width: 940px;
    min-height: 100px;
    padding: 32px 0 20px;
    align-items: baseline;
  }

  .contacts__item:nth-of-type(2) {
    vertical-align: middle;
    order: 2;
  }

  .contacts__description {
    margin-top: 20px;
  }

  .contacts__map {
    height: 500px;
    background-color: @gray;
  }
}
