.download-app {
  position: relative;
  min-height: 733px;
  color: @white;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}

.download-app__image {
  position: absolute;
  left: 0;
  bottom: 271px;
}

.download-app__block {
  min-height: 213px;
  padding: 28px 20px 30px;
  transform: translateY(462px);
  background-color: @dark-blue;
}

.download-app__caption {
  display: none;
}

.download-app__description {
  margin: 0;
  font-weight: 300;
}

.download-app__list {
  display: flex;
  width: 205px;
  height: 56px;
  margin: 30px auto 24px;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: @tablet-width) {
  .download-app {
    min-height: 729px;
    padding: 0 20px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    overflow: hidden;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .download-app__image {
    left: -20px;
    bottom: 0;
  }

  .download-app__block {
    height: 440px;
    width: 300px;
    padding: 0;
    transform: translateY(175px);
    background-color: transparent;
  }

  .download-app__caption {
    display: block;
    margin: 0;
    padding: 28px 40px 0;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
  }

  .download-app__list {
    margin: 45px auto 35px;
  }

  .download-app__description {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    min-height: 853px;
    padding: 0 10px;
    overflow: visible;
    background-image: none;
  }

  .download-app__image {
    left: 25px;
  }

  .download-app__block {
    height: 510px;
    transform: translateY(220px);
  }

  .download-app__caption {
    margin-bottom: 50px;
    padding: 0 30px;
    font-size: 50px;
    line-height: 60px;
  }

  .download-app__list {
    margin: 67px auto 57px;
  }

  .download-app__description {
    font-size: 18px;
  }
}
