.footer {
  display: flex;
  height: 200px;
  padding: 42px 0 42px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: @white;
}

.footer--main {
  display: none;
}

.footer__logo {
  width: 147px;
  height: 40px;
}

.footer__logo-icon:hover path,
.footer__logo-icon:focus path {
  fill: @pink;
}

.footer__logo-icon:active .footer__logo-pink {
  fill: @base-color;
  opacity: 0.3;
}

.footer__logo-icon:active .footer__logo-glasses {
  fill: @pink;
  opacity: 0.3;
}

.footer__logo-desktop {
  display: none;
}

.footer__list {
  display: flex;
  width: 177px;
  height: 51px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    border-color: @base-color;
  }

  &:active {
    border-color: #e9ebec;
    opacity: 0.7;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

.footer__copyright {
  display: flex;
  width: 130px;
  height: 34px;
  justify-content: space-between;
  align-items: center;
}

.footer__academy {
  align-self: baseline;
}

.footer__academy:hover path,
.footer__academy:focus path {
  fill: @base-color;
}

.footer__academy:active path {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .footer {
    width: 620px;
    height: 127px;
    margin: 0 auto;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;

    &--main {
      display: flex;
    }
  }

  .footer__logo {
    margin-bottom: 15px;
  }

  .footer__list {
    align-items: center;
    margin: 0;
    margin-right: 12px;
    margin-bottom: 2px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 940px;
    height: 197px;
    padding: 0 130px;
  }

  .footer__list {
    margin: 0;
  }

  .footer__logo-mobile {
    display: none;
  }

  .footer__logo-desktop {
    display: inline-block;
  }

  .footer__copyright {
    width: 152px;
    font-size: 18px;
  }
}
