.form {
  font-size: 18px;
  line-height: 30px;
}

.form__name-input {
  padding: 10px 0;
}

.form__achievements {
  .contacts-field();
}

.form__contacts {
  padding: 40px 20px;
}

.form__contacts-input {
  padding: 10px 0;
}

.form__applications {
  .contacts-field();
}

.form__impressions {
  padding: 40px 20px;
}

.form__textarea {
  .text-field();
}

.form__note {
  padding: 0 20px;
  text-transform: uppercase;
}

.form fieldset {
  margin: 0;
  padding: 20px 20px;
  border: none;
}

.form sup {
  color: @pink;
}
