.form-button {
  width: 276px;
  margin: 0 20px;
  padding: 14px 20px;
  color: @white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background-color: @green;
  border: none;
  border-radius: 3px;
}

@media (min-width: @tablet-width) {
  .form-button {
    margin: 0;
  }
}
