.form {
  font-size: 18px;
  line-height: 30px;

  &__name-input {
    padding: 10px 0;
  }

  &__achievements {
    .contacts-field();
  }

  &__contacts {
    padding: 40px 20px;
  }

  &__contacts-input {
    padding: 10px 0;
  }

  &__applications {
    .contacts-field();
  }

  &__impressions {
    padding: 40px 20px;
  }

  &__textarea {
    .text-field()
  }

  &__note {
    padding: 0 20px;
    text-transform: uppercase;
  }
}

.form fieldset {
  margin: 0;
  padding: 20px 20px;
  border: none;
}

.form sup {
  color: @pink;
}
