.header {
  background-color: @base-color;
}

.header__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__menu {
  position: relative;
  z-index: 1;
}

.header__logo-block {
  display: flex;
  height: 69px;
  margin-bottom: -63px;
  padding: 21px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: fade(@black, 30%);
}

.header__logo-block--open {
  margin-bottom: 0;
  background-color: fade(@black, 0);
}

.header__logo {
  height: 22px;
}

.header__logo-icon:hover path,
.header__logo-icon:focus path {
  fill: @pink;
}

.header__logo-icon:active path {
  fill: @white;
  opacity: 0.3;
}

.header__logo-tablet {
  display: none;
}

.header__logo-desktop {
  display: none;
}

.header__toggle {
  display: none;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__toggle--show {
  display: block;
}

.header__toggle:hover path,
.header__toggle:focus path {
  fill: #d22856;
}

.header__toggle:active path {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    width: 660px;
  }

  .header__logo-block {
    height: 110px;
    margin-bottom: -110px;
  }

  .header__logo-block--open {
    margin-bottom: 0;
  }

  .header__logo {
    height: 40px;
    margin-top: 6px;
    align-self: flex-start;
  }

  .header__logo-mobile {
    display: none;
  }

  .header__logo-tablet {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
      background-position: center 65.9%;
    }
  }

  .header__wrapper {
    width: 100%;
    background-color: fade(@black, 30%);
  }

  .header__menu {
    display: flex;
    width: 940px;
    margin: 0 auto -110px;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo-block {
    height: auto;
    min-height: 70px;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
  }

  .header__logo-block--open {
    height: auto;
  }

  .header__logo-tablet {
    display: none;
  }

  .header__logo-desktop {
    display: inline-block;
  }

  .header__toggle--show {
    display: none;
  }
}
