.intro {
  min-height: 237px;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.intro__caption {
  margin: 0;
  padding: 95px 45px 53px;
  color: @white;
  line-height: 30px;
  .main-slogan();
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 440px;
  }

  .intro__caption {
    padding: 180px 90px 55px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 394px;
  }

  .intro__caption {
    padding-top: 175px;
  }
}
