.intro {
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.intro__caption {
  margin: 0;
  padding: 93px 45px 53px;
  color: @white;
  .main-slogan();
}
