.rates {
  display: flex;
  height: 345px;
  flex-direction: column;
  align-items: center;
  padding: 95px 0 35px;
  background-color: @light-gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  overflow: hidden;
}

.rates__table {
  line-height: 30px;
  text-transform: uppercase;
  border-collapse: collapse;
}

.rates__name {
  min-width: 276px;
  height: 96px;
  padding: 0;
  color: @white;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  background-color: @base-color;
  border: 2px solid @base-color;
  border-right-color: @gray;
}

.rates__name--hit {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 73px;
    height: 73px;
    top: -2px;
    left: 0;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    display: block;
    position: absolute;
    content: "хит";
    transform: rotate(-45deg);
    top: 10px;
    left: 10px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: @white;
  }
}

.rates__name:last-of-type {
  border-right-color: @base-color;
}

.rates__name-hidden {
  display: none;
}

.rates__price {
  display: block;
  font-size: 24px;
  font-weight: 300;
}

.rates__item {
  position: relative;
  min-width: 276px;
  height: 61px;
  padding: 0 22px;
  box-sizing: border-box;
  background-color: @white;
  background-clip: padding-box;
  border: 2px solid @gray;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 27px;
    height: 26px;
    right: 19px;
    top: 15px;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--hidden {
    display: none;

    &::after {
      display: none;
    }
  }

  &--included {
    &::after {
      width: 31px;
      height: 21px;
      right: 17px;
      top: 20px;
      background-image: url("../img/icon-yes.svg");
    }
  }
}

.rates__toggles {
  text-align: center;
  margin-top: auto;
}

@media (min-width: @tablet-width) {
  .rates {
    height: 218px;
    padding: 100px 0 70px;
  }

  .rates__name {
    min-width: 153px;
    height: 75px;
    font-size: 16px;
  }

  .rates__name--hit::before {
    width: 61px;
    height: 61px;
  }

  .rates__name--hit::after {
    top: 6px;
    left: 6px;
  }

  .rates__name-hidden {
    display: block;
  }

  .rates__price {
    font-size: 18px;
  }

  .rates__item {
    min-width: 153px;
    height: 46px;
    font-size: 0;

    &::after {
      right: 63px;
      top: 9px;
    }

    &--included {
      &::after {
        right: 61px;
        top: 13px;
      }
    }
  }

  .rates__item--hidden {
    display: table-cell;
    padding: 0 15px;
    font-size: 14px;
    text-transform: none;
  }

  .rates__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .rates {
    padding: 175px 10px 155px;
  }

  .rates__name {
    min-width: 234px;
    height: 96px;
    font-size: 18px;
  }

  .rates__name--hit::before {
    width: 71px;
    height: 71px;
  }

  .rates__name--hit::after {
    top: 10px;
    left: 10px;
  }

  .rates__price {
    font-size: 24px;
  }

  .rates__item {
    min-width: 236px;
    height: 61px;

    &::after {
      right: 103px;
      top: 17px;
    }

    &--included {
      &::after {
        right: 101px;
        top: 22px;
      }
    }
  }

  .rates__item--hidden {
    padding: 0 24px;
    font-size: 18px;
  }
}
