.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    padding: 60px 0;
  }

  .research::after {
    content: "";
    display: table;
    clear: both;
  }

  .research__image {
    position: relative;
    float: left;
    margin-right: 71px;
  }

  .research__timer {
    width: 238px;
    height: 276px;
  }

  .research__timer-number {
    position: absolute;
    left: 64px;
    top: 78px;
    color: @pink;
    font-size: 96px;
    line-height: 149.5px;
    font-weight: 700;
  }

  .research__block {
    padding: 35px 10px 10px;
  }

  .research__caption {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  .research__description {
    margin-bottom: 8px;
  }

  .research__link {
    color: @pink;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .research {
    padding: 35px 0 65px;
    background-color: @light-gray;
  }

  .research__image {
    margin-right: 68px;
  }

  .research__timer {
    width: 298px;
    height: 345px;
  }

  .research__timer-number {
    left: 80px;
    top: 95px;
    font-size: 120px;
    line-height: 187px;
  }

  .research__block {
    padding: 95px 0 20px;
  }

  .research__caption {
    margin-bottom: 25px;
    line-height: 30px;
  }

  .research__caption br {
    display: none;
  }

  .research__description {
    padding-right: 55px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .research__description br {
    display: none;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
