.reviews {
  padding: 40px 20px;
  text-align: center;
}

.reviews__item {
  line-height: 30px;
}

.reviews__author {
  color: @black;
  font-size: 18px;
  font-weight: 700;
}

.reviews__info {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    order: 1;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px
  }

  .reviews__info {
    display: block;
    line-height: 30px;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 40px 135px;
  }
}
