.reviews {
  padding: 40px 0 34px;
  text-align: center;
}

.reviews__item {
  line-height: 30px;
}

.reviews__author {
  color: @black;
  font-size: 18px;
  font-weight: 700;
}

.reviews__info {
  display: none;
}

.reviews__scroll {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding: 40px 0 20px;
    text-align: center;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    font-size: 20px;
    order: 1;
  }

  .reviews__text {
    margin: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__info {
    display: block;
    line-height: 30px;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 187px 0 47px;
  }

  .reviews__item {
    position: relative;
    padding: 0 115px;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 79px;
      height: 63px;
      top: -120px;
      left: 433px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__text {
    margin-bottom: 35px;
  }

  .reviews__info {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__scroll {
    display: block;
    position: absolute;
    width: 22px;
    height: 41px;
    padding: 0;
    top: 30px;
    background-color: transparent;
    border: none;
    outline: none;

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }

  .reviews__scroll path {
    opacity: 0.3;
  }

  .reviews__scroll:hover path,
  .reviews__scroll:focus path {
    opacity: 0.6;
  }

  .reviews__scroll:active path {
    opacity: 0.1;
  }
}
